<!doctype html>
<html>
  <head>
    <title>Auth0 SAML SP sample</title>
  </head>
  <body>
    <% if (locals.user) { %>
      <% if (locals.user_id) { %>
        <p>Logged in as <%= locals.user_id %>.</p>
      <% } %>
    <p>Full profile:</p>
    <pre><%= JSON.stringify(user, null, 2) %></pre>
    <% } %>
    <% if (locals.account) { %>
    <p>Also logged in as <%= account['http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier'] %>.</p>
    <% } else { %>
      <p><a href="/login">Click here to link another account</a></p>
    <% } %>
  </body>
</html>
